.thick-arrow-right {
    width: 15px;
    height: 15px;
    border: 5px solid #333;
    border-left: 0;
    border-top: 0;
  
    transform: rotate(315deg);
  }

  .thick-arrow-left {
    width: 15px;
    height: 15px;
    border: 5px solid #333;
    border-left: 0;
    border-top: 0;
  
    transform: rotate(135deg);
  }